<h1>Characters for <%= member_search.house %></h1>
<h3>Number of Members: <%= member_search.number_of_members %></h3>

<section class = "members">
  <% member_search.members.each do |member| %>
    <section class = "member_info">
      <p>Name: <%= member.name %></p>
      <p>Role: <%= member.role %></p>
      <p>House: <%= member.house %></p>
      <p>Patronus: <%= member.patronus %></p>
    </section>
  <% end %>
</section>
