<h1>Characters for <%= @house %></h1>
<h3>Number of Members: <%= @members.count %></h3>

<section class = "members">
  <% @members.each do |member| %>
    <section class = "member_info">
      <p>Name: <%= member.name %></p>
      <p>Role: <%= member.role %></p>
      <p>House: <%= member.house %></p>
      <p>Patronus: <%= member.patronus %></p>
    </section>
  <% end %>
</section>
